body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.score-container {
  display: block;
  margin: 10px auto;
  width: 250px;
  padding: 0.5%;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  background-color: #4d6d66;
}

.score__title {
  margin: 0;
}

.score__value {
  margin: 0;
  margin-top: 5px;
  font-size: 25px;
}
.game-field {
  position: relative;
  margin: 0 auto;
  width: 808px;
  height: 808px;
}
.game {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 4px solid black;
  background-color: gray;
}
.game div {
  padding-top: 69px;
  width: 198px;
  height: 129px;
  background-color: blue;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 30px;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: 0.4s ease-out;
}
.end-game {
  position: absolute;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 4px solid black;
  background-color: white;
  opacity: 0.7;
  font-size: 80px;
}
